@charset "UTF-8";

body {
    background-color: black;
    color: white;
    
}

.div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  background-color: red;
  border: 1px solid #00ff09;
}

.center{
    text-align: center;
}