@charset "UTF-8";

body {
    background-color: black;
    color: white;
    
}

table{
    background-color: white;
    text-align: center;
    color: black;
    border: 2px solid gold;
    width: 50%;
}

.GOAT{
    background-color: red;
    color: gold;
    text-align: center;
    border: 2px solid blue;    
    width: 25%
}